<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Search Food and Drinks</title>
    <style type="text/css">
      button,
      div,
      form,
      input {
        margin: 10px;
      }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../styles/skeleton.css">
    <link rel="stylesheet" href="../styles/skeleton.css">
    <link rel="stylesheet" href="../styles/foodStyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/materialize.css">
    <link rel="stylesheet" href="../styles/materialize.min.css">
  </head>

  <body>
    <div id="page-wrap">
    <nav>
    <div class="nav-wrapper">
      <a href="food.html" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="aboutUs.html">About Us</a></li>
        <li><a href="badges.html">Components</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">Javascript</a></li>
    <li><a href="mobile.html">Mobile</a></li>
  </ul>
          
      </div>
                
      <h1>Food Search 🍽</h1>
      <div class="container">
        Type in any food item to see information or click Random Food 
      </div>

      <!-- Rendered Buttons will get Dumped Here  -->
      <div id="buttons-view"></div>

      <form id="food-form">
        <label for="food-input">Search for a Food</label>
        <input type="text" id="food-input" placeholder="Enter Food Here" />
        <br />

        <!-- Button triggers new movie to be added -->
        <input class='button' id="add-food" type="submit" value="Get info" />
        <button class='button' id="random-food">Random Food</button>
        <button  class='button'id="clear-food">Clear Food</button>
        <a href="drinks.html" class="btn btn-outline-success" role="button" aria-pressed="true">Next 🡆</a> 
      </form>

      <!-- Movies will Get Dumped Here -->
      <div id="food-view"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../scripts/food.js"></script>
    </body>
</html>
