<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/materialize.css">
    <link rel="stylesheet" href="../styles/materialize.min.css">
    <title>The Eating Hour</title>
</head>
<body>
    <div class="parallax"> <div id="header"><h1>The Eating Hour</h1><br><br><p id="smallerText">A user responsive website that produces an array of food and drink information and recipies...</p>
        </div></div>
                <div class="parallax"> <div id="options"><p>Select <a href="food.html"class="waves-effect waves-light btn-large">Food</a> OR <a href="drinks.html"class="waves-effect waves-light btn-large">Drinks</a> to get started!
                </div></div>
                
<script type="text/javascript" src="jquery-3.3.1.js">
 
</script>
    
</body>
</html>