* {
  text-align: center;
  font-family: "Raleway", sans-serif;
}

.foodPic {
  height: 300px;
  width: 300px;
}
/* css from skeleton */
.button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}
/* trying to get full page centered  */
#page-wrap {
  width: 800px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}
#background {
  background-image: url("../assests/image3.jpg");
  background-repeat: no-repeat;
}

.responsive {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 470px) {
  nav .brand-logo {
    white-space: nowrap;
  }
}
