
* {
  font-family: "Shadows Into Light", cursive;
  font-size: large;
  color: whitesmoke;
  text-shadow: black
  
  
}
.btn {
  border: none;
  background-color: inherit;
  font-size: 30%;
  cursor: pointer;
  display: inline-block;
}

.btn:hover {
    color: black;
}
.success {
    color:white;
  }
.info {
    color: white;
  }
#header {
  text-align: center;
  background-color:rgba(255, 80, 80, 0.938);
  border-radius: 15px;
  margin-right: 10%;
  margin-left: 10%;
  box-shadow: 10px 10px 5px grey;
  height: 150px;
  width: 40%
  top: 5px
  }
#headerText {
  text-align: center;
  color: #fff;
  font-size: 330%;
  letter-spacing: 5px;
  text-shadow: -1px -1px 0px black, 3px 3px 0px black, 6px 6px 0px black;
 max-height: 100px;
  left: 0%; 
}
.middle {
  text-align: center;
  background-color:rgba(17, 190, 11, 0.938);
  border-radius: 15px;
  margin-right: 20%;
  margin-left: 20%;
  box-shadow: 10px 10px 5px grey;
  width: 40%
  height: 70%

}
#middleText {
  font-size: 110%;
  padding: 10%;
}
#options {
  text-align: center;
  background-color:rgba(235, 130, 44, 0.952);
  border-radius: 15px;
  margin-right: 7%;
  margin-left: 7%;
  width: auto;
  max-height: 200%;
  height: 300%;
  padding: 10px;
  box-shadow: 10px 10px 5px grey;
font-size: 180%;
position: relative;
}

.parallax {
  
  background-image: url("../assests/image1.jpg");
  

  /* Set a specific height */
  min-height: 300px;
  max-height: 300px;


  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}