* {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: whitesmoke;
  text-shadow: black
  
}
p {
  font-size: 30px;
}
h1 {
  text-align: center;
  width: 100%;
  margin: 0px auto;
  color: #fff;
  font-size: 80px;
  letter-spacing: 5px;
  top: 50%;
  margin-top: -40px;
  text-shadow: -1px -1px 0px black, 3px 3px 0px black, 6px 6px 0px black;

}
#smallerText {
  font-size: 15px;
}
.btn {
  border: none;
  background-color: inherit;
  font-size: 30px;
  cursor: pointer;
  display: inline-block;
}

.btn:hover {
    color: black;
}
.success {
    color:white;
  }
.info {
    color: white;
  }
#header {
  background-color:rgba(255, 80, 80, 0.938);
  border-radius: 15px;
  margin-right: 20%;
  margin-left: 20%;
  box-shadow: 10px 10px powderblue;
  width: auto;
height: 90%;
  padding: 80px;
  box-shadow: 10px 10px 5px grey;
}
#options {
  background-color:rgba(235, 130, 44, 0.952);
  border-radius: 4px;
  margin-right: 3%;
  margin-left: 3%;
  box-shadow: 10px 10px powderblue;
  width: auto;
/* height: 90%; */
  padding: 80px;
  box-shadow: 10px 10px 5px grey;
}
.parallax {
  /* The image used */
  background-image: url("../assests/shutterstock_302530970.pdf");

  /* Set a specific height */
  min-height: 400px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}